* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /*border: 1px solid green;*/
    background: #ddd url("../images/wall615.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

a {
    text-decoration: none;
}

kbd {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
    border: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.key {
    position: relative;
    width: 50px;
    height: 40px;
    margin: 10px;
    background: -webkit-linear-gradient(top, #292929 0%, #111111 100%);
    background: linear-gradient(top, #292929 0%, #111111 100%);
    color: #c5c5c5;
    border: 1px solid #373737;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #dddddd, 0 0 0 2px #666, 0 3px 0 2px #141414;
}

kbd img {
    position: absolute;
    left: 4px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    background: transparent;
}

.row {
    margin-top: 10px;
}

button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

kbd:hover > button {
    display: inline-block;
    cursor: pointer;
}

main {
    margin-top: 150px;
    text-align: center;
    /*border: 1px solid red;*/
}

#mainContainer {
    display: inline-block;
}

#mainContainer > div:nth-child(2) {
    margin-left: -36px;
}

#mainContainer > div:nth-child(3) {
    margin-left: -110px;
}

.wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}